<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @bid.amount %>
</p>

<p>
  <b>Status:</b>
  <%= @bid.status %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
